# Requirement:

>The name of the team

>The total number of goals scored by the team during the 2011 season

>The total number of wins the team earned during the 2011 season

>A histogram visualization of the team's wins and losses for the 2011 season (store the visualization directly)

>The team's win percentage on days where it was raining during games in the 2011 season.

# T1 = Matches: 

>Match_ID (int): unique ID per match

>Div (str): identifies the division the match was played in (D1 = Bundesliga, D2 = Bundesliga 2, E0 = English 

>Premier League)

>Season (int): Season the match took place in (usually covering the period of August till May of the following year)

>Date (str): Date of the match

>HomeTeam (str): Name of the home team

>AwayTeam (str): Name of the away team

>FTHG (int) (Full Time Home Goals): Number of goals scored by the home team

>FTAG (int) (Full Time Away Goals): Number of goals scored by the away team

>FTR (str) (Full Time Result): 3-way result of the match (H = Home Win, D = Draw, A = Away Win)

# T2 = Teams

>Season (str): Football season for which the data is valid

>TeamName (str): Name of the team the data concerns

>KaderHome (str): Number of Players in the squad

>AvgAgeHome (str): Average age of players

>ForeignPlayersHome (str): Number of foreign players (non-German, non-English respectively) playing for the team

>OverallMarketValueHome (str): Overall market value of the team pre-season in EUR (based on data from transfermarkt.de)

>AvgMarketValueHome (str): Average market value (per player) of the team pre-season in EUR (based on data from transfermarkt.de)

>StadiumCapacity (str): Maximum stadium capacity of the team's home stadium

# T3 = Unique Teams

> TeamName (str): Name of a team

> Unique_Team_ID (int): Unique identifier for each team

# T4 = Teams_in_Matches

>Match_ID (int): Unique match ID

>Unique_Team_ID (int): Unique team ID (This table is used to easily retrieve each match a given team has played in)

In [2]:
#This is where we import the relevant packages to be used. 
#SQL to organise our data / Pandas & Numpy for the second stage of anlaysis.

import sqlite3 
import pandas as pd
import numpy as np
import requests
import json

In [3]:
conn = sqlite3.connect('database.sqlite')
cur = conn.cursor()

In [4]:
cur.execute("""SELECT * FROM Matches LIMIT 10""")

In [5]:
df = pd.DataFrame(cur.fetchall())
df.columns = [x[0] for x in cur.description]
df.head()

,Match_ID,Div,Season,Date,HomeTeam,AwayTeam,FTHG,FTAG,FTR
0,1,D2,2009,2010-04-04,Oberhausen,Kaiserslautern,2,1,H
1,2,D2,2009,2009-11-01,Munich 1860,Kaiserslautern,0,1,A
2,3,D2,2009,2009-10-04,Frankfurt FSV,Kaiserslautern,1,1,D
3,4,D2,2009,2010-02-21,Frankfurt FSV,Karlsruhe,2,1,H
4,5,D2,2009,2009-12-06,Ahlen,Karlsruhe,1,3,A

In [6]:
cur.execute("""SELECT * FROM Teams LIMIT 10""")
df1 = pd.DataFrame(cur.fetchall())
df1.columns = [x[0] for x in cur.description]
df1.head()

,Season,TeamName,KaderHome,AvgAgeHome,ForeignPlayersHome,OverallMarketValueHome,AvgMarketValueHome,StadiumCapacity
0,2017,Bayern Munich,27,26,15,597950000,22150000,75000
1,2017,Dortmund,33,25,18,416730000,12630000,81359
2,2017,Leverkusen,31,24,15,222600000,7180000,30210
3,2017,RB Leipzig,30,23,15,180130000,6000000,42959
4,2017,Schalke 04,29,24,17,179550000,6190000,62271

In [7]:
cur.execute("""SELECT * FROM Teams_in_Matches LIMIT 10""")
df2 = pd.DataFrame(cur.fetchall())
df2.columns = [x[0] for x in cur.description]
df2.head()

   Match_ID  Unique_Team_ID
0         1              26
1         1              46
2         2              26
3         2              42
4         3              26

In [8]:
cur.execute("""SELECT * FROM Unique_Teams LIMIT 10""")
df3 = pd.DataFrame(cur.fetchall())
df3.columns = [x[0] for x in cur.description]
df3.head()

        TeamName  Unique_Team_ID
0  Bayern Munich               1
1       Dortmund               2
2     Leverkusen               3
3     RB Leipzig               4
4     Schalke 04               5

In [9]:
#STEP 1 : JOIN T3 & T4 then JOIN T1

cur.execute("""SELECT * FROM Teams_in_Matches JOIN Unique_Teams USING (Unique_Team_ID) JOIN Matches 
               USING (Match_ID) WHERE Season = 2011""")
pdset = pd.DataFrame(cur.fetchall())
pdset.columns = [x[0] for x in cur.description]
pdset.head()

,Match_ID,Unique_Team_ID,TeamName,Div,Season,Date,HomeTeam,AwayTeam,FTHG,FTAG,FTR
0,1092,1,Bayern Munich,D1,2011,2012-03-31,Nurnberg,Bayern Munich,0,1,A
1,1092,22,Nurnberg,D1,2011,2012-03-31,Nurnberg,Bayern Munich,0,1,A
2,1093,1,Bayern Munich,D1,2011,2011-12-11,Stuttgart,Bayern Munich,1,2,A
3,1093,17,Stuttgart,D1,2011,2011-12-11,Stuttgart,Bayern Munich,1,2,A
4,1094,1,Bayern Munich,D1,2011,2011-08-13,Wolfsburg,Bayern Munich,0,1,A

In [10]:
#Adding result of the TeamName (we'll refer to TeamName as Main Team)

for i, row in pdset.iterrows():
    if row.TeamName == row.AwayTeam:
        # Away
        if row.FTR == 'A':
            pdset.loc[i,'Result'] = "W"
        elif row.FTR == 'D':
            pdset.loc[i,'Result'] = "D"
        else:
            pdset.loc[i,'Result'] = "L"
    else:
        # Home
        if row.FTR == 'H':
            pdset.loc[i,'Result'] = "W"
        elif row.FTR == 'D':
            pdset.loc[i,'Result'] = "D"
        else:
            pdset.loc[i,'Result'] = "L"

#Adding number of goals for the main team 
            
pdset['goals_scored'] = np.where(pdset['TeamName'] == pdset ['AwayTeam'], pdset['FTAG'], pdset['FTHG'])
pdset.head()

,Match_ID,Unique_Team_ID,TeamName,Div,Season,Date,HomeTeam,AwayTeam,FTHG,FTAG,FTR,Result,goals_scored
0,1092,1,Bayern Munich,D1,2011,2012-03-31,Nurnberg,Bayern Munich,0,1,A,W,1
1,1092,22,Nurnberg,D1,2011,2012-03-31,Nurnberg,Bayern Munich,0,1,A,L,0
2,1093,1,Bayern Munich,D1,2011,2011-12-11,Stuttgart,Bayern Munich,1,2,A,W,2
3,1093,17,Stuttgart,D1,2011,2011-12-11,Stuttgart,Bayern Munich,1,2,A,L,1
4,1094,1,Bayern Munich,D1,2011,2011-08-13,Wolfsburg,Bayern Munich,0,1,A,W,1

In [54]:
pdset_1 = pdset.head(n=10)

pdset_1.head()

,Match_ID,Unique_Team_ID,TeamName,Div,Season,Date,HomeTeam,AwayTeam,FTHG,FTAG,FTR,Result,goals_scored
0,1092,1,Bayern Munich,D1,2011,2012-03-31,Nurnberg,Bayern Munich,0,1,A,W,1
1,1092,22,Nurnberg,D1,2011,2012-03-31,Nurnberg,Bayern Munich,0,1,A,L,0
2,1093,1,Bayern Munich,D1,2011,2011-12-11,Stuttgart,Bayern Munich,1,2,A,W,2
3,1093,17,Stuttgart,D1,2011,2011-12-11,Stuttgart,Bayern Munich,1,2,A,L,1
4,1094,1,Bayern Munich,D1,2011,2011-08-13,Wolfsburg,Bayern Munich,0,1,A,W,1

In [46]:
def get_keys(path):
    with open(path) as f:
        return json.load(f)

In [57]:
#

keys = get_keys("/Users/augustingoudet/.secret/code_file")
api_key = keys['dark_sky_key']

latitude = 52.5200
longitude = 13.4050

weather = []

for time in pdset_1['Date']:
    url = "https://api.darksky.net/forecast/{}/{},{},{}T16:00:00".format(api_key, latitude, longitude, time)
    dark_sky = requests.get(url)
    weather.append(dark_sky.json()['daily']['data'][0]['icon'])
    
pdset_1['weather'] = weather

pdset_1.head()

/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:17: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,Match_ID,Unique_Team_ID,TeamName,Div,Season,Date,HomeTeam,AwayTeam,FTHG,FTAG,FTR,Result,goals_scored,weather
0,1092,1,Bayern Munich,D1,2011,2012-03-31,Nurnberg,Bayern Munich,0,1,A,W,1,rain
1,1092,22,Nurnberg,D1,2011,2012-03-31,Nurnberg,Bayern Munich,0,1,A,L,0,rain
2,1093,1,Bayern Munich,D1,2011,2011-12-11,Stuttgart,Bayern Munich,1,2,A,W,2,partly-cloudy-day
3,1093,17,Stuttgart,D1,2011,2011-12-11,Stuttgart,Bayern Munich,1,2,A,L,1,partly-cloudy-day
4,1094,1,Bayern Munich,D1,2011,2011-08-13,Wolfsburg,Bayern Munich,0,1,A,W,1,partly-cloudy-day

In [32]:
dark_sky.json().keys()

dict_keys(['latitude', 'longitude', 'timezone', 'currently', 'hourly', 'daily', 'flags', 'offset'])

In [37]:
for key, values in dark_sky.json().items():
    print(key, values)
    value = dark_sky.json()[key]
    print(type(value))
    print('\n\n')

latitude 52.52
<class 'float'>



longitude 13.405
<class 'float'>



timezone Europe/Berlin
<class 'str'>



currently {'time': 1329577200, 'summary': 'Mostly Cloudy', 'icon': 'partly-cloudy-day', 'precipIntensity': 0, 'precipProbability': 0, 'temperature': 46.96, 'apparentTemperature': 41.75, 'dewPoint': 38.47, 'humidity': 0.72, 'windSpeed': 11.51, 'windGust': 11.51, 'windBearing': 208, 'cloudCover': 0.8, 'uvIndex': 0, 'visibility': 6.216}
<class 'dict'>



hourly {'summary': 'Mostly cloudy throughout the day.', 'icon': 'partly-cloudy-day', 'data': [{'time': 1329519600, 'summary': 'Mostly Cloudy', 'icon': 'partly-cloudy-night', 'precipIntensity': 0, 'precipProbability': 0, 'temperature': 36.8, 'apparentTemperature': 31.34, 'dewPoint': 34.07, 'humidity': 0.9, 'windSpeed': 6.91, 'windGust': 10.01, 'windBearing': 270, 'cloudCover': 0.68, 'uvIndex': 0, 'visibility': 6.216}, {'time': 1329523200, 'summary': 'Mostly Cloudy', 'icon': 'partly-cloudy-night', 'precipIntensity': 0, 'precipProbability': 0, 'temperature': 37.21, 'apparentTemperature': 32.62, 'dewPoint': 34.07, 'humidity': 0.88, 'windSpeed': 5.74, 'windGust': 5.74, 'windBearing': 270, 'cloudCover': 0.75, 'uvIndex': 0, 'visibility': 6.216}, {'time': 1329526800, 'summary': 'Mostly Cloudy', 'icon': 'partly-cloudy-night', 'precipIntensity': 0, 'precipProbability': 0, 'temperature': 35.32, 'apparentTemperature': 30.38, 'dewPoint': 32.36, 'humidity': 0.89, 'windSpeed': 5.74, 'windGust': 5.74, 'windBearing': 270, 'cloudCover': 0.75, 'uvIndex': 0, 'visibility': 5.945}, {'time': 1329530400, 'summary': 'Mostly Cloudy', 'icon': 'partly-cloudy-night', 'precipIntensity': 0, 'precipProbability': 0, 'temperature': 36.7, 'apparentTemperature': 31.15, 'dewPoint': 34.18, 'humidity': 0.9, 'windSpeed': 7.01, 'windGust': 7.01, 'windBearing': 278, 'cloudCover': 0.8, 'uvIndex': 0, 'visibility': 5.457}, {'time': 1329534000, 'summary': 'Mostly Cloudy', 'icon': 'partly-cloudy-night', 'precipIntensity': 0, 'precipProbability': 0, 'temperature': 37.4, 'apparentTemperature': 32.85, 'dewPoint': 33.86, 'humidity': 0.87, 'windSpeed': 5.74, 'windGust': 7.99, 'windBearing': 293, 'cloudCover': 0.8, 'uvIndex': 0, 'visibility': 5.109}, {'time': 1329537600, 'summary': 'Mostly Cloudy', 'icon': 'partly-cloudy-night', 'precipIntensity': 0, 'precipProbability': 0, 'temperature': 36.7, 'apparentTemperature': 32.93, 'dewPoint': 34.81, 'humidity': 0.93, 'windSpeed': 4.61, 'windGust': 4.61, 'windBearing': 221, 'cloudCover': 0.8, 'uvIndex': 0, 'visibility': 4.837}, {'time': 1329541200, 'summary': 'Mostly Cloudy', 'icon': 'partly-cloudy-night', 'precipIntensity': 0, 'precipProbability': 0, 'temperature': 36.7, 'apparentTemperature': 32.6, 'dewPoint': 35.55, 'humidity': 0.96, 'windSpeed': 4.99, 'windGust': 4.99, 'windBearing': 196, 'cloudCover': 0.8, 'uvIndex': 0, 'visibility': 4.346}, {'time': 1329544800, 'summary': 'Mostly Cloudy', 'icon': 'partly-cloudy-night', 'precipIntensity': 0, 'precipProbability': 0, 'temperature': 37.21, 'apparentTemperature': 32.62, 'dewPoint': 34.51, 'humidity': 0.9, 'windSpeed': 5.74, 'windGust': 7.01, 'windBearing': 200, 'cloudCover': 0.75, 'uvIndex': 0, 'visibility': 3.865}, {'time': 1329548400, 'summary': 'Mostly Cloudy', 'icon': 'partly-cloudy-day', 'precipIntensity': 0, 'precipProbability': 0, 'temperature': 37.21, 'apparentTemperature': 31.84, 'dewPoint': 34.89, 'humidity': 0.91, 'windSpeed': 6.91, 'windGust': 6.91, 'windBearing': 191, 'cloudCover': 0.75, 'uvIndex': 0, 'visibility': 3.391}, {'time': 1329552000, 'summary': 'Mostly Cloudy', 'icon': 'partly-cloudy-day', 'precipIntensity': 0, 'precipProbability': 0, 'temperature': 38.28, 'apparentTemperature': 32.5, 'dewPoint': 34.94, 'humidity': 0.88, 'windSpeed': 7.99, 'windGust': 7.99, 'windBearing': 200, 'cloudCover': 0.75, 'uvIndex': 0, 'visibility': 4.567}, {'time': 1329555600, 'summary': 'Mostly Cloudy', 'icon': 'partly-cloudy-day', 'precipIntensity': 0, 'precipProbability': 0, 'temperature': 39.66, 'apparentTemperature': 33.69, 'dewPoint': 34.36, 'humidity': 0.81, 'windSpeed': 8.99, 'windGust': 8.99, 'windBearing': 188, 'cloudCover': 0.75, 'uvIndex': 1, 'visibility': 5.049}, {'time': 1329559200, 'summary': 'Mostly Cloudy', 'icon': 'partly-cloudy-day', 'precipIntensity': 0, 'precipProbability': 0, 'temperature': 39.93, 'apparentTemperature': 35.05, 'dewPoint': 35.57, 'humidity': 0.84, 'windSpeed': 7.01, 'windGust': 7.01, 'windBearing': 199, 'cloudCover': 0.75, 'uvIndex': 1, 'visibility': 4.703}, {'time': 1329562800, 'summary': 'Mostly Cloudy', 'icon': 'partly-cloudy-day', 'precipIntensity': 0, 'precipProbability': 0, 'temperature': 41.88, 'apparentTemperature': 37.99, 'dewPoint': 35.73, 'humidity': 0.79, 'windSpeed': 6, 'windGust': 6, 'windBearing': 211, 'cloudCover': 0.75, 'uvIndex': 1, 'visibility': 5.457}, {'time': 1329566400, 'summary': 'Mostly Cloudy', 'icon': 'partly-cloudy-day', 'precipIntensity': 0, 'precipProbability': 0, 'temperature': 44.44, 'apparentTemperature': 39.46, 'dewPoint': 36.99, 'humidity': 0.75, 'windSpeed': 9.21, 'windGust': 9.21, 'windBearing': 200, 'cloudCover': 0.75, 'uvIndex': 1, 'visibility': 5.591}, {'time': 1329570000, 'summary': 'Mostly Cloudy', 'icon': 'partly-cloudy-day', 'precipIntensity': 0, 'precipProbability': 0, 'temperature': 45.28, 'apparentTemperature': 41.55, 'dewPoint': 37.63, 'humidity': 0.74, 'windSpeed': 6.91, 'windGust': 12.01, 'windBearing': 198, 'cloudCover': 0.75, 'uvIndex': 1, 'visibility': 6.216}, {'time': 1329573600, 'summary': 'Mostly Cloudy', 'icon': 'partly-cloudy-day', 'precipIntensity': 0, 'precipProbability': 0, 'temperature': 46.45, 'apparentTemperature': 42.45, 'dewPoint': 38.88, 'humidity': 0.75, 'windSpeed': 7.99, 'windGust': 7.99, 'windBearing': 180, 'cloudCover': 0.75, 'uvIndex': 1, 'visibility': 6.216}, {'time': 1329577200, 'summary': 'Mostly Cloudy', 'icon': 'partly-cloudy-day', 'precipIntensity': 0, 'precipProbability': 0, 'temperature': 46.96, 'apparentTemperature': 41.75, 'dewPoint': 38.47, 'humidity': 0.72, 'windSpeed': 11.51, 'windGust': 11.51, 'windBearing': 208, 'cloudCover': 0.8, 'uvIndex': 0, 'visibility': 6.216}, {'time': 1329580800, 'summary': 'Mostly Cloudy', 'icon': 'partly-cloudy-day', 'precipIntensity': 0, 'precipProbability': 0, 'temperature': 45.02, 'apparentTemperature': 39.86, 'dewPoint': 38.36, 'humidity': 0.77, 'windSpeed': 10.01, 'windGust': 10.01, 'windBearing': 215, 'cloudCover': 0.8, 'uvIndex': 0, 'visibility': 6.216}, {'time': 1329584400, 'summary': 'Mostly Cloudy', 'icon': 'partly-cloudy-night', 'precipIntensity': 0, 'precipProbability': 0, 'temperature': 44.6, 'apparentTemperature': 38.79, 'dewPoint': 39.22, 'humidity': 0.81, 'windSpeed': 11.51, 'windGust': 11.51, 'windBearing': 220, 'cloudCover': 0.75, 'uvIndex': 0, 'visibility': 6.216}, {'time': 1329588000, 'summary': 'Overcast', 'icon': 'cloudy', 'precipIntensity': 0, 'precipProbability': 0, 'temperature': 44.6, 'apparentTemperature': 38.41, 'dewPoint': 39.12, 'humidity': 0.81, 'windSpeed': 12.67, 'windGust': 14.99, 'windBearing': 221, 'cloudCover': 0.95, 'uvIndex': 0, 'visibility': 6.216}, {'time': 1329591600, 'summary': 'Mostly Cloudy', 'icon': 'partly-cloudy-night', 'precipIntensity': 0, 'precipProbability': 0, 'temperature': 42.8, 'apparentTemperature': 36.98, 'dewPoint': 39.22, 'humidity': 0.87, 'windSpeed': 10.35, 'windGust': 10.35, 'windBearing': 213, 'cloudCover': 0.75, 'uvIndex': 0, 'visibility': 6.216}, {'time': 1329595200, 'summary': 'Overcast', 'icon': 'cloudy', 'precipIntensity': 0, 'precipProbability': 0, 'temperature': 42.8, 'apparentTemperature': 36.98, 'dewPoint': 39.22, 'humidity': 0.87, 'windSpeed': 10.35, 'windGust': 10.35, 'windBearing': 202, 'cloudCover': 0.95, 'uvIndex': 0, 'visibility': 6.216}, {'time': 1329598800, 'summary': 'Overcast', 'icon': 'cloudy', 'precipIntensity': 0, 'precipProbability': 0, 'temperature': 42.8, 'apparentTemperature': 36.54, 'dewPoint': 39.11, 'humidity': 0.87, 'windSpeed': 11.51, 'windGust': 11.51, 'windBearing': 200, 'cloudCover': 0.95, 'uvIndex': 0, 'visibility': 6.216}, {'time': 1329602400, 'summary': 'Overcast', 'icon': 'cloudy', 'precipIntensity': 0, 'precipProbability': 0, 'temperature': 42.8, 'apparentTemperature': 36.36, 'dewPoint': 38.55, 'humidity': 0.85, 'windSpeed': 12.01, 'windGust': 12.01, 'windBearing': 217, 'cloudCover': 0.95, 'uvIndex': 0, 'visibility': 6.216}]}
<class 'dict'>



daily {'data': [{'time': 1329519600, 'summary': 'Drizzle overnight.', 'icon': 'partly-cloudy-day', 'sunriseTime': 1329545940, 'sunsetTime': 1329582300, 'moonPhase': 0.9, 'precipIntensity': 0, 'precipIntensityMax': 0, 'precipProbability': 0, 'temperatureHigh': 47.53, 'temperatureHighTime': 1329576480, 'temperatureLow': 35.89, 'temperatureLowTime': 1329634800, 'apparentTemperatureHigh': 42.45, 'apparentTemperatureHighTime': 1329573780, 'apparentTemperatureLow': 28.71, 'apparentTemperatureLowTime': 1329634800, 'dewPoint': 36.41, 'humidity': 0.84, 'windSpeed': 8.17, 'windGust': 14.99, 'windGustTime': 1329588000, 'windBearing': 213, 'cloudCover': 0.79, 'uvIndex': 1, 'uvIndexTime': 1329564000, 'visibility': 5.508, 'temperatureMin': 34.83, 'temperatureMinTime': 1329526920, 'temperatureMax': 47.53, 'temperatureMaxTime': 1329576480, 'apparentTemperatureMin': 30.32, 'apparentTemperatureMinTime': 1329527400, 'apparentTemperatureMax': 42.45, 'apparentTemperatureMaxTime': 1329573780}]}
<class 'dict'>



flags {'sources': ['cmc', 'gfs', 'icon', 'isd', 'madis'], 'nearest-station': 1.219, 'units': 'us'}
<class 'dict'>



offset 1
<class 'int'>

In [34]:
dark_sky.json()['daily']

{'data': [{'time': 1329519600,
   'summary': 'Drizzle overnight.',
   'icon': 'partly-cloudy-day',
   'sunriseTime': 1329545940,
   'sunsetTime': 1329582300,
   'moonPhase': 0.9,
   'precipIntensity': 0,
   'precipIntensityMax': 0,
   'precipProbability': 0,
   'temperatureHigh': 47.53,
   'temperatureHighTime': 1329576480,
   'temperatureLow': 35.89,
   'temperatureLowTime': 1329634800,
   'apparentTemperatureHigh': 42.45,
   'apparentTemperatureHighTime': 1329573780,
   'apparentTemperatureLow': 28.71,
   'apparentTemperatureLowTime': 1329634800,
   'dewPoint': 36.41,
   'humidity': 0.84,
   'windSpeed': 8.17,
   'windGust': 14.99,
   'windGustTime': 1329588000,
   'windBearing': 213,
   'cloudCover': 0.79,
   'uvIndex': 1,
   'uvIndexTime': 1329564000,
   'visibility': 5.508,
   'temperatureMin': 34.83,
   'temperatureMinTime': 1329526920,
   'temperatureMax': 47.53,
   'temperatureMaxTime': 1329576480,
   'apparentTemperatureMin': 30.32,
   'apparentTemperatureMinTime': 1329527400,
   'apparentTemperatureMax': 42.45,
   'apparentTemperatureMaxTime': 1329573780}]}

In [42]:
dark_sky.json()['daily']['data'][0]['icon']

'partly-cloudy-day'

In [41]:
weather_df = pd.DataFrame.from_dict(dark_sky.json()['daily']['data'][0]['icon'])
print(len(weather_df)) #Print how many rows
print(weather_df.columns) #Print column names
weather_df.head()

ValueError: DataFrame constructor not properly called!

In [30]:
# You don't have to use these classes, but we recommend them as a good place to start!
class WeatherGetter():
    
    pass

In [ ]:
class MongoHandler():
    pass